#container-2{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

#container-2>div{
    text-align: center;
    color: white;
    cursor: pointer;
}

#container-2>div>img{
    /* width: 100%; */
    height: 300px;
}

#loader{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#loader>img{
    border-radius: 50%;
  
  }

